{{#if list}}
    <ul>
        {{#each list}}
            <li>
                <span>{{title}}</span>
                <span>{{price}}</span>
                <img src={{thumbnail}} alt="" style="max-height: 50px;">
            </li>
        {{/each}}
    </ul>
{{/if}}


<a href="/">Volver al formulario</a>