ul
    each val in list
            li
                span #{val.title}  
                span #{val.price}
                img(src="#{val.thumbnail}" style={width: '50px'})


a(href="/") Volver al formulario